{% from "_includes/forms" import autosuggestField %}

{{ autosuggestField({
  label: 'Merchant ID'|t('commerce'),
  id: 'merchantId',
  class: 'ltr',
  name: 'merchantId',
  suggestEnvVars: true,
  value: gateway.getMerchantId(false),
  errors: gateway.getErrors('merchantId')
}) }}

{{ autosuggestField({
  label: 'Service key'|t('commerce'),
  id: 'serviceKey',
  class: 'ltr',
  name: 'serviceKey',
  suggestEnvVars: true,
  value: gateway.getServiceKey(false),
  errors: gateway.getErrors('serviceKey')
}) }}

{{ autosuggestField({
  label: 'Client key'|t('commerce'),
  id: 'clientKey',
  class: 'ltr',
  name: 'clientKey',
  suggestEnvVars: true,
  value: gateway.getClientKey(false),
  errors: gateway.getErrors('clientKey')
}) }}
